<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>科贸--登录</title>
		<meta name="referrer" content="no-referrer" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" type="text/css" href="css/login.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div id="box" v-loading="fullscreenLoading">
				<!-- 头像 -->
				<div @click="randomAvatar">
					<el-avatar :src="userImgUrl?userImgUrl:'https://user-gold-cdn.xitu.io/2019/12/20/16f23523af12b32f'"></el-avatar>
				</div>
				<!-- 用户输入框 -->
				<el-input placeholder="请输入用户名" v-model="userName" clearable></el-input>
				<el-input @keyup.enter.native="clickBtn" v-model="password" show-password placeholder="请输入密码" minlength=6 mixlength=12 ></el-input>
				<el-input @keyup.enter.native="clickBtn" v-model="password2" show-password placeholder="请再次输入密码" v-if="registerStatus" minlength=6 mixlength=12 ></el-input>
				<el-button type="primary" @click='clickBtn'>{{registerStatus?'注册':'登录'}}</el-button>
				<el-link type="info" @click='zc'  :underline="false">{{registerStatus?'现在登录':'还没注册?现在注册'}}</el-link>
			</div>
		</div>
	</body>
	<script>
		const domain = window.location.protocol + "//" + window.location.host + "/";
		//const domain = "https://zhishix11.utools.club/";
		var vm = new Vue({
			el: '#app',
			data: {
				//随机头像
				avatarList: [
					'https://user-gold-cdn.xitu.io/2019/12/20/16f232e83d759e24?w=400&h=400&f=png&s=215399',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f232f3bac823a0?w=400&h=400&f=png&s=163586',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f232fa4e255ce3?w=400&h=400&f=png&s=163586',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2334fcc4e88ca?w=400&h=400&f=png&s=212751',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2335337e15969?w=400&h=400&f=png&s=220337',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f233577f54559a?w=400&h=400&f=png&s=193549',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2335ed59d91b0?w=400&h=400&f=png&s=193032',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f233622cc6c17f?w=400&h=400&f=png&s=206178',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23367dc53c4c2?w=400&h=400&f=png&s=277700',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f233724bcce36e?w=400&h=400&f=png&s=254495',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23376655b833f?w=400&h=400&f=png&s=209887',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2337a51b3df23?w=400&h=400&f=png&s=213820',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2337df06eac40?w=400&h=400&f=png&s=238526',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23381af4b444b?w=400&h=400&f=png&s=82941',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23384966f0d4d?w=400&h=400&f=png&s=89444',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f233879d1f3c9b?w=400&h=400&f=png&s=108625',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f2338c09b9b5e5?w=400&h=400&f=png&s=95319',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23392770d2c34?w=400&h=400&f=png&s=207090',
					'https://user-gold-cdn.xitu.io/2019/12/20/16f23394e3f56937?w=400&h=400&f=png&s=157780',
				],
				userImgUrl:'',
				userName: '',
				password: '',
				password2:'',
				registerStatus: false,//false 为登录,true是注册
				fullscreenLoading:false,
			},
			methods: {
				      openFullScreen1() {
				        this.fullscreenLoading = true;
				      },
				//随机头像
				randomAvatar(){
					if(this.registerStatus){
						var i = this.avatarList.length;
						i = Math.floor(Math.random() * (i - 0)) + 0;
						this.userImgUrl = this.avatarList[i];
					}
				},
				//点击按纽
				clickBtn(){
					if(this.userName=='' || this.password==''){
						this.$message.error('用户密码不能为空!');
						return;
					}
					if (this.registerStatus) {//如果是注册
						if(this.password != this.password2){
							this.$message.error('两次输入的密码不同!');
							return;
						}
						this.register();
					} else{
						this.login();
					}
				},
				login() {
					this.openFullScreen1();
					console.log('开始登录');
					let that = this;
					//调用Ajax的get方法
					axios({
						method: 'post',
						url: domain + 'user/login',
						withCredentials: true,
						data: {
							userName: this.userName,
							userPwd: this.password
						}
					}).then(function(res) {
						if(res.data.state == 200){
							console.log(res.data.user);
							that.$message('登录成功');
							//缓存到本地链接
							sessionStorage.setItem("user",JSON.stringify(res.data.user));
							window.location.href = "index.html"
						}else{//登录失败
							 that.$message.error('登录失败,请检查用户信息');
						}
						that.fullscreenLoading = false;
					});
				},
				//注册按钮
				register(){
					this.openFullScreen1();
					let that = this;
					axios({
						method: 'post',
						url: domain + 'user/register',
						withCredentials: true,
						data: {
							userImgUrl:this.userImgUrl,
							userName: this.userName,
							userPwd: this.password
						}
					}).then(function(res) {
						console.log(res);
						if(res.data.state == 200){
							that.$message('注册成功!登录吧,小老弟!');
							that.registerStatus = !that.registerStatus
						}else{//登录失败
							 that.$message.error('注册失败');
						}
						that.fullscreenLoading = false;
					});
				},
				//点击底部小文字
				zc() {
					console.log('点击了');
					//如果是注册,则提示点击头像可以切换头像
					if(!this.registerStatus){
						this.$message({message:'点击头像随机选择头像哦',duration:1000});
					}
					this.registerStatus = !this.registerStatus;
				}
			}
		})
	</script>
</html>
