[v-cloak] {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#box {
	width: 900px;
	margin: 20px auto;
	border-radius: 8px;
	overflow: hidden;
}

.bg-white {
	background: #FFFFFF;
}

.bg-purple {
	background: #26292C;
}

.bg-purple-light {
	background: #E9E8E7;
}

.grid-content {
	height: 600px;
}

.row-bg {
	padding: 10px 0;
	background-color: #f9fafc;
}

/* tab */
.tab {
	color: #8B8B8B;
}

.tab-active {
	color: #409EFF;
}

#avatar {
	margin: 20px 0 15px 18px;
	/* margin-left:18px; 
				margin-top: 20px; */
}

.tab i {
	display: block;
	font-size: 30px;
	margin-bottom: 2px;
	transition: color .15s linear;
	text-align: center;
}

.tab .icon-name {
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
}

.tab :first-child {}

.tab el-row :hover {
	background: #40bfbf;
}

/* 消息列表 */
.list {
	overflow-y: scroll;
	width: 110%;
}

.chatListItem {
	border-bottom: 1px solid #ebebeb;
	padding: 8px 10px;
}

.chatListItem-active {
	background-color: #DEDCDB;
}

.chatListItem:hover {
	background-color: #DEDCDB;
}

.chatListItem .el-avatar {
	width: 50px;
	height: 50px;
}
