[v-cloak] {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-color: #409EFF;
}

#box {
	background-color: white;
	border-radius: 8px;
	width: 300px;
	/* 	height: 400px; */
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px 20px;
}

.el-avatar {
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

.el-input,
.el-button {
	margin-top: 10px;
}
